.Home.section{
	padding: var(--margin-2) 0;
}

.Home > .container-sm{
	padding: 0 1rem;
}

.Home-hi{
	color: var(--accent);
	margin-left: .3rem;
}

.Home-h1{
	color: var(--accent);
	font-weight: var(--bold);
	font-size: var(--big-head);
	line-height: 1;
}

.Home-h2{
	color: var(--accent);
	font-size: var(--big-sub-head);
	margin-bottom: var(--margin-4);
}

.Home-description{
	max-width: 520px;
}